<div class="report">
    Latest Report from Headless CMS
    <h2>{{this.blogs.items[0].fields.blogTitle}}</h2>
    <div>{{this.blogs.items[0].fields.blogContent}}</div>
</div>
<div class="blogroll">Blogroll</div>
<div class="cards">

    <div class="card">
        <h1> Django Blog 1</h1>
        <p>created with Python/Django deployed on PythonAnywhere</p>
        <a href="https://amdjangopractice.pythonanywhere.com/">VISIT</a>
    </div>

    <div class="card">
        <h1> Django Blog 2</h1>
        <p>created with Django Mezzanine CMS and deployed with Linode/Nginx</p>
        <a href="https://mezz.alexmerced.com/">VISIT</a>
    </div>

    <div class="card">
        <h1> Headless Blog</h1>
        <p>created with Contentful CMS deployed with Github Pages</p>
        <a href="https://alexmercedcoder.github.io/alexmerceddevblog/">VISIT</a>
    </div>

    <div class="card">
        <h1>Express/Mongo Blog</h1>
        <p>created Mongo/Express/EJS deployed with Heroku</p>
        <a href="https://fierce-waters-95519.herokuapp.com/index/">VISIT</a>
    </div>

    <div class="card">
        <h1> Koa/Mongo Blog</h1>
        <p>created with KoaJS/Mongo/Nunjucks deployed with heroku</p>
        <a href="https://radiant-badlands-22999.herokuapp.com/">VISIT</a>
    </div>

    <div class="card">
        <h1>Wordpress Multisite</h1>
        <p>created with Wordpress/MariaDB and deployed using GCloud/Apache</p>
        <a href="http://wp.workspace1985.xyz/">VISIT</a>
    </div>


</div>
